.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    margin: 0;
    height: 0;
}

.kuy {
    border: 1px solid black;
    padding: 50px;
    border-radius: 15px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
}

button {
    font-size: 20px;
    width: 100px;
    background-color: rgb(45, 202, 45);
    padding: 10px;
    
}

button:hover {
    background-color: rgb(20, 177, 20);
    transition: .3s ease all;
    .container {
        transform: translateY(20px);
        transition: .3s ease all;
    }
}

button:active {
    background-color: lightgreen;
}

input {
    font-size: 18px;
}